<div class="client-earners-section-heading center-align">
    <h3 class="client-h3">developer Messages</h3>
    <div id="messages-section-1" class="messages-section-1">
        <div class="row">
            <div class="col l6 m6 s12 client-message-left">
                <h5>Clients messages</h5>
                <p></p>
                <a href="/developer/messages/clients"><button class="message-button-1">client messages</button></a>
            </div>
            <div class="col l6 m6 s12 earners-message-right">
                <h5>Earners messages</h5>
                <p></p>
                <a href="/developer/messages/earners"><button class="message-button-1">earners messages</button></a>
            </div>
        </div>
    </div>
</div>