<div class="client-earners-section-heading center-align">
    <h3 class="client-h3">developer Messages</h3>
    <div id="section-6" class="section-6">
        <div class="row">
            <div class="col l6 m6 s12 section-6-left">
                <!-- <h3>client messages</h3> -->
                <a href="/developer/messages/clients"><button class="button-6">client messages</button></a>
            </div>
            <div class="col l6 m6 s12 section-6-right">
                <!-- <h3>earners messages</h3> -->
                <a href="/developer/messages/earners"><button class="button-6">earners messages</button></a>
            </div>
        </div>
    </div>
</div>