<div class="row developer-login-center">
    <form action="/developer/register" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col m12 s12">
                <input id="username" type="text" name="username" class="validate">
                <label for="username">username</label>
            </div>
            <div class="input-field col m12 s12">
                <input id="password" type="password" name="password" class="validate">
                <label for="password">password</label>
            </div>
        </div>
        <div class="center-align">
            <a href=""><button type="submit" value="save" class="button-5">register</button></a> 
        </div>
    </form>
</div>