<nav class="grey darken-3">
    <div class="nav-wrapper container">
        <a href="#!" class="brand-logo center">logo</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul style="padding: 3rem 0 3rem;" class="sidenav" id="mobile-demo">
            <li><a href="/developer">developer</a></li>
            <li><a href="/developer/messages">messages</a></li>
            <li><a href="/developer/logout">logout</a></li>
        </ul>
    </div>
</nav> 