<button id="myBtn" class="my-btn">
    <a href="https://api.whatsapp.com/send?phone=07033903922&text=hi,20%am20%all20%ears" target="_blank">
        <img src="img/whatsapp-symbol.svg" alt="">
    </a>
</button>

<!-- footer -->
<footer id="footer" class="footer">
    <div class="row-1">
        <div class="contact">
            <h5>Feel Free to connect</h5>
            <ul>
                <li>augustinegodspower40@gmail.com</li>
                <li>+23433903922</li>
            </ul>
        </div>
        <div class="links">
            <ul>
                <li>my portfolio</li>
                <li>my resume</li>
                <li>earn cash</li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row-2">
        <p>&copy; copyright 2021 Augustine</p>
        <div class="logos">
            <a href="https://www.instagram.com/godspower_augustine/" target="_blank"><img src="img/instagram-2-1.svg" alt=""></a>
            <a href="https://github.com/godspower2020" target="_blank"><img src="img/github-icon-1.svg" alt=""></a>
            <a href="" target="_blank"><img src="img/twitter-4.svg" alt=""></a>
            <a href="https://www.linkedin.com/in/augustine-godspower-523a2b1a4/" target="_blank"><img src="img/linkedin-icon-2.svg" alt=""></a>
        </div>
    </div>
</footer>
