<!-- main menu for large screen -->
<div id="menu" class="menu over-all-body">
    <nav id="nav" class="">
        <ul class="menu-nav"> 
            <li class="nav-terms current">
                <a href="/" class="">
                    Home
                </a>
            </li><br>
            <li class="nav-terms">
                <a href="/portfolio" class="">
                    portfolio
                </a>
            </li><br>
            <li class="nav-terms">
                <a href="/resume" class="">
                    resume
                </a>
            </li>
            <div class="cash">
                <a class="waves-effect waves-light btn"><i class="material-icons left fas fa-money-bill"></i>Earn
                    Cash</a>
            </div>
        </ul>
        <div class="contact">
            T: +23433903922 <br>
            mail@hanxolo.com
        </div>
    </nav>
</div>

<!-- main menu for small screen-->
<div id="menu-2" class="menu-2 over-all-body-2">
    <nav id="nav-2" class="">
        <ul class="menu-nav-2"> 
            <li class="nav-terms-2 current-2">
                <a href="/" class="">
                    Home
                </a>
            </li><br>
            <li class="nav-terms-2">
                <a href="/portfolio" class="">
                    portfolio
                </a>
            </li><br>
            <li class="nav-terms-2">
                <a href="/resume" class="">
                    resume
                </a>
            </li>
            <div class="cash-2">
                <a class="waves-effect waves-light btn"><i class="material-icons left fas fa-money-bill"></i>Earn
                    Cash</a>
            </div>
        </ul>
        <div class="contact-2">
            T: +23433903922 <br>
            mail@hanxolo.com
        </div>
    </nav>
</div>