<!-- main menu for large screen -->
<div id="menu-1" class="menu-1">
    <div id="nav-1" class="nav-1">
        <ul class="menu-nav-1">
            <li class="nav-terms-1 current">
                <a href="/" class="active inactive">
                    Home
                </a>
            </li><br>
            <li class="nav-terms-1">
                <a href="/portfolio" class="active inactive">
                    portfolio
                </a>
            </li><br>
            <li class="nav-terms-1">
                <a href="/resume" target="_blank" class="active inactive">
                    resume
                </a>
            </li><br>
            <li class="nav-terms-1">
                <a href="/earn" class="active inactive">
                    earn cash
                </a>
            </li><br>
        </ul>
        <div class="nav-terms-1 contact-1">
            T: +23433903922 <br>
            augustine40@gmail.com
        </div>
    </div>
</div>