:root {
    --total-black-color: #000;
    --total-black-color-alpha: rgba(0, 0, 0, .8);
    --total-black-color-alpha-2: rgba(0, 0, 0, .2);
    --dark-text-color: #0a0a0a;
    --greyish-background-color: #f9f9f9;
    --total-white-color: #fff;
    --menu-background-color: #3452ff;
    --my-dark-green-color: #00616e;
    --my-greyish-color: #b0bec5;
    --my-header-color: #202124;
    --my-para-color: #6e7175;
    --dusty-grey-color: #999999;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: var(--my-header-color);
    margin: 0;
    padding: 0;
}

.admin-container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

/* message section style starts */
#messages-section-1{
    background-color: var(--greyish-background-color);
    color: var(--dark-text-color);
    text-align: center;
    padding: 6rem;
}

.messages-section-1 .client-message-left,
.messages-section-1 .earners-message-right {
    background-color: var(--my-greyish-color);
    padding: 8rem 0;
}

.messages-section-1 .client-message-left {
    border-right: 1px solid var(--total-white-color);
}

.messages-section-1 .earners-message-right {
    border-left: 1px solid var(--total-white-color);
}

.messages-section-1 .message-button-1 {
    padding: 20px 50px;
    background-color: transparent;
    color: var(--total-white-color);
    border: 1px solid var(--total-white-color);
    transition: all .7s ease-in-out;
}

.messages-section-1 .message-button-1:hover {
    background-color: var(--total-black-color);
    color: var(--total-white-color);
    cursor: pointer;
}

/* admin client earner section starts*/
.admin-client-earners-section-1 {
    background-color: var(--total-white-color);
    padding-bottom: 10rem;
}

.client-earners-section-heading {
    padding: 3rem 0 3rem;
}

.admin-client-earners-section-1 button,
.admin-client-earners-section-1 td.pointer:hover {
    cursor: pointer;
}

.admin-client-earners-section-1 button {
    border: none;
    background: none;
}
/* admin client earner section ends*/

/* styling messafe link to open the full message */
.open-message {
    color: var(--my-header-color);
}

.open-message:hover {
    color: var(--total-black-color);
}