* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #222;
    margin: 0;
    padding: 0;
}

/* admin client section starts*/
.admin-client-earners-section-1 {
    background-color: var(--total-white-color);
}

.client-earners-section-heading {
    padding: 3rem 0 3rem;
}
/* admin client section ends*/