:root {
    --total-black-color: #000;
    --total-black-color-alpha: rgba(0, 0, 0, .8);
    --dark-text-color: #0a0a0a;
    --greyish-background-color: #f9f9f9;
    --total-white-color: #fff;
    --menu-background-color: #3452ff;
    --da-manager-blue-color: #1f4a8a;
    --ola-olu-blue-color: #4831d4;
    --ola-olu-green-color: #ccf381;
    --ola-purple-color: #3d155f;
}

* {
    box-sizing: border-box;
}

body,
html {
    /* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
font-family: 'Varela Round', sans-serif;
    line-height: 1.8;
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* overflow-x: hidden; */
    background-color: var(--menu-background-color);
    color: var(--dark-text-color);
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 1000;
    letter-spacing: -0.03em;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.4rem;
}

h6 {
    font-size: 1.2rem;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
}


.container {
    margin: 0 auto;
    width: 85%;
    max-width: 1280px; 
}

/* cursor */
.txt-type > .txt {
    border-right: .1rem solid var(--total-white-color);
    padding-right: .8rem;
    height: fit-content;
}

/*  ======================================
   BASE STATIC MENU STYLES 
   ==================================== */
   #menu-1 {
    display: none;
}

#menu-1.show {
    display: block;
    color: var(--total-white-color);
    background-color: var(--menu-background-color);
    z-index: 500;
    
}

#menu-1.show a {
    color: var(--total-white-color);
}

#menu-1.show .nav-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/*  ======================================
   BASE HEADER ANIMATION STYLES 
   ==================================== */
header {
    position: absolute;
    z-index: 1000;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 4%;
    
}

header .logo {
    background-color: var(--total-white-color);
}

header img {
    cursor: pointer;
}

/* HAMBURGER MENU STYLES */
.menu-btn {
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.btn-line {
    position: relative;
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #444;
    transition: all 0.5s ease-out;
}

.menu-btn.close {
    transform: rotate(180deg); 
} 

.menu-btn.close .btn-line:nth-child(1) {
    transform: rotate(45deg) translate(7px, 8px); 
}

.menu-btn.close .btn-line:nth-child(2) {
    opacity: 0;
}
        
.menu-btn.close .btn-line:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -4px); 
}

/*  =================================================================================================
                                            MAIN CONTENT STYLES STARTS
   ========================================================================================== */
   /*  ======================================
   HOME PAGE STYLES STARTS FOR SMALL SCREENS
   ==================================== */

/* SECTION-1 STYLES FOR SMALL SCREEN */
 #section-1 {
     position: relative;
    width: 100%;
}

.section-1 .text-content {
    padding: 10% 6% 16%;
    background-color: var(--ola-olu-blue-color);
    color: var(--ola-olu-green-color);
}

.section-1 .text-content .text-content-space {
    margin-top: 6.5rem;
}

.section-1 .image-content {
    background-color: var(--ola-olu-green-color);
    text-align: center !important;
    padding-bottom: 80px;
}

.section-1 .image-content img {
    position: relative;
    top: -50px !important;
    height: 230px;
    width: 230px;
    z-index: 100;
    border-radius: 5%;
}

/* SECTION 2 STYLE FOR SMALL SCREENS*/
.section-2 {
    background: var(--total-black-color);
    color: var(--total-white-color);
}

.section-2 h2 {
    padding-top: 4rem;
}

.section-2-space {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    min-height: 70vh;
}


.box {
    position: relative;
    width: 110px;
    height: 130px;
    transform-style: preserve-3d;
    animation: animate 30s linear infinite;
}

.languages {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.languages .lan-name {
    background-color: var(--total-black-color-alpha);
    width: 80px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0 !important;
}

.languages .lan-name p {
    margin: 0;
    color: var(--total-white-color);
}

@keyframes animate {
    0% {
        transform: perspective(1400px) rotateY(0deg);
    }

    100% {
        transform: perspective(1400px) rotateY(360deg);
    }
}

.box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(170px);
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
}

.box span .languages {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: rgba(255, 255, 255, .9);
    padding: 20% ;
    border: 1px solid #fff;
} 

.box span img {
    width: 100%;
    min-height: 70%;
    height: 100%;
} 

/* SECTION-3 STYLES FOR SMALL SCREENS */
#section-3 {
    background-color: var(--total-white-color);
    padding: 15% 4%;   
}

/* SECTION-4 STYLES FOR SMALL SCREENS */
#section-4 {
    background-color: var(--total-white-color);
    padding: 15% 4%;
}

.section-4 .section-4-svg svg {
    width: 100%;
    height: 500px !important;
}

/* SECTION-5 STYLES  FOR SMALL SCREENS */
#section-5 {
    background-color: var(--total-white-color);
    color: var(--total-black-color);
    padding: 0 10% 5%;
}

.section-5 form.col {
    width: 100% !important;
}

.section-5 textarea.materialize-textarea {
    padding: 0;
    margin-top: 10px;
}

/* SECTION-6 STYLES FOR SMALL SCREENS */
#section-6 {
    background-color: var(--greyish-background-color);
    color: var(--dark-text-color);
    text-align: center;
    padding: 60px 20px;
}

.section-6 .section-6-left,
.section-6 .section-6-right {
    background-color: var(--total-white-color);
    border: 1px solid #f2f2f2;
    margin-top: 40px;
    padding: 2rem;
}

.section-2 h2,
.section-4 h1,
.section-5 h2,
.section-6 h1 {
    /* font-size: 2rem; */
    margin-top: 0;
}

.section-6 p {
    /* font-size: 1.1rem; */
    padding-bottom: 60px;
}

/* SECTION-5 & SECTION-6 BUTTON EFFECTS */
.section-5 .button-5,
.section-6 .button-6 {
    padding: 20px 50px;
    background-color: var(--total-white-color);
    color: var(--total-black-color);
    border: 1px solid var(--total-black-color);
    transition: all .7s ease-in-out;
}

.section-5 .button-5:hover,
.section-6 .button-6:hover {
    background-color: var(--total-black-color);
    color: var(--total-white-color);
}

/* SECTION-7 STYLES  FOR SMALL SCREENS */
#section-7 {
    background-color: #f9fafa;
    text-align: center;
    padding-bottom: 90px;
}

.section-7 img {
    width: 139px;
    height: 32px;
}

.center-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-flex img {
    margin: 20px 0;
}
/*  ======================================
   HOME PAGE STYLES ENDS FOR SMALL SCREENS
   ==================================== */


/*  ======================================
   PORTFOLIO PAGE STYLES FOR SMALL SCREENS STARTS
   ==================================== */
#portfolio-section-1 {
    background-color: var(--total-white-color);
    padding-top: 13rem;
}

.portfolio-section-1 .row {
    padding: 6rem 0 0;
    margin: 0;
}

.portfolio-section-1 .portfolio {
    margin-top: 6rem;
}

.portfolio-section-1 h1 {
    margin-top: 0;
}


.portfolio-section-1 .image-1 {
    background: url('../img/rubbytravels.png') no-repeat center center/cover;
    width: 100%;
    height: 250px;
}

.portfolio-section-1 .image-2 {
    background: url('../img/justintime.png') no-repeat center center/cover;
    width: 100%;
    height: 250px;
}

.portfolio-section-1 .image-3 {
    background: url('../img/medcom.png') no-repeat center center/cover;
    width: 100%;
    height: 250px;
}

.portfolio-section-1 .image-4 {
    background: url('../img/bank.png') no-repeat center center/cover;
    width: 100%;
    height: 250px;
}

.portfolio-section-1 .col.l5 {
    position: relative;
    box-shadow: 0 0 10px #e0e0e0;
    -webkit-box-shadow: 0 0 10px #e0e0e0;
    transition: all .6s ease-in-out;
}

/* animation for image on hover */
.portfolio-section-1 .l5:hover {
    transform: scale(1.1);
}

.portfolio-section-1 .l5:hover .dark-overlay{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-section-1 .l5 span {
    display: none;
}

.portfolio-section-1 .l5:hover span {
    display: block;
    z-index: 100;
}

.portfolio-section-1 .l5 span input[type="button"] {
    background: transparent;
    border-radius: 10px;
    padding: 12px 20px;
    border: 1px solid var(--total-white-color);
    color: var(--total-white-color);
    font-size: 18px;
}

.portfolio-section-1 .l5 span:hover input[type="button"] {
    background-color: var(--da-manager-blue-color);
    color: var(--total-white-color);
}

.portfolio-section-1 .l7 {
    margin-top: 3rem !important;
}

.portfolio-section-1 hr {
    border: dotted #e0e0e0 4px;
    border-bottom: none;
    width: 8%;
}
/*  ======================================
   PORTFOLIO PAGE STYLES FOR SMALL SCREENS ENDS
   ==================================== */

/*  ======================================
   EARN PAGE STYLES  FOR SMALL SCREENS STARTS
   ==================================== */
#earn-section-1 {
    padding: 9rem 0 0;
    background-color: var(--total-white-color);
}

.earn-section-1 .row {
    margin-bottom: 0;
}

.earn-section-1 img {
    height: 50vh;
}

.earn-section-1 h1 {
    margin-bottom: 0;
}

.earn-section-1 h3 {
    margin: 35px 0 50px;
}

/* earn form section give it padding top */
#section-5.padding-top {
    padding-top: 100px !important;
}

/*  ======================================
   EARN PAGE STYLES  FOR SMALL SCREENS ENDS
   ==================================== */

/*  ======================================
   RESUME PAGE STYLES FOR SMALL SCREENS STARTS
   ==================================== */
 #resume-section-1 {
    position: relative;
    background-color: var(--total-white-color);
    color: #474747bf;
    padding: 100px 0;
    line-height: 1.5;
}

.resume-section-1-space {
    position: relative !important;
    background-color: var(--greyish-background-color);
    margin: 70px 20px;
    padding: 10% 3%;
}

.resume-section-1-space .download {
    position: absolute;
    top: 30px;
    right: 30px;
}

.resume-section-1-space .download img {
    width: 20px;
    height: 20px;
}

.resume-section-1-space p {
    margin: 0 !important;
}

.resume-section-1-space h1#name {
    margin: 0 0 1.3rem !important;
}

.resume-section-1-space h3 {
    font-size: 14px !important;
}

.resume-section-1-space h4 {
    font-size: 22px !important;
    margin: 0;
}

.resume-section-1-space h5 {
    font-size: 18px !important;
    margin: 2.5rem 0 0;
}

.resume-section-1-space h6 {
    font-size: 15px !important;
    margin: 2.5rem 0 0;
}

.resume-section-1-space .flex-row-900 ul {
    margin-top: .5rem !important;
}

.resume-section-1-space .intro {
    margin: 3rem 0 1rem !important;
}
/*  ======================================
   RESUME PAGE STYLES FOR SMALL SCREENS ENDS
   ==================================== */

/* whatsapp button */
.my-btn{
    background-color: var(--total-white-color);
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: none;
    position: fixed;
    right: 4%;
    bottom: 4%;
    z-index: 2000;
}

.my-btn img {
    width: 100%;
    height: 100%;
    transition: transform .8s ease-in;
}

.my-btn:hover img {
    transform: scale(1.3);
}

/* footer */
footer {
    background-color: var(--total-white-color);
    padding: 180px 10px 5px;
}

.footer p {
    margin-top: 40px;
}

.footer .row-1 {
    margin-bottom: 5rem;
}

.footer .row-1, 
.footer .row-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
}


.footer .row-1 li {
    padding-bottom: 10px;
}

.footer .row-1 ,
.footer .row-2 {
    flex-direction: column-reverse;
}

.footer .logos img{
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.footer hr {
    width: 80%;
}


@media (min-width:576px) {

    /* SECTION-1 STYLES */
    .section-1 .image-content img {
        height: 260px;
        width: 260px;
    }

    /* SECTION-2 STYLES */
    .box {
        width: 155px;
        height: 170px;
    }

    .box span {
        transform: rotateY(calc(var(--i) * 45deg)) translateZ(250px);
    }

    /* SECTION -7 STYLES */
    .center-flex {
        flex-direction: row;
        justify-content: space-around;
    }

}

@media (min-width:768px) {

    /*  ======================================
    BASE STATIC MENU STYLES 
    ==================================== */
    #menu-1 {
        overflow: hidden;
        display: block;
    }
    
    .nav-1 {
        background-color: var(--menu-background-color);
        box-shadow: none;
    }
    
    #menu-1 .contact-1 {
        font-size: 16px;
        line-height: 2.2;
    }
    
    #nav-1 {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start !important;
        top: 0;
        right: 0;
        padding: 55px 15px 55px 40px;
        min-width: 28%;
        width: 300px;
        height: 100vh;
    }
    
    #menu .menu-nav-1 a {
        color: var(--total-white-color) !important;
        padding-left: 0;
    }

    /* animation for big menu */
    #body.body {
        margin: 0;
        left: 0%;
        width: 100%;
        height: 100%;
        position: relative;
        transition: transform .6s cubic-bezier(0.95, 0.05, 0.795, 0.035);
        background: var(--total-white-color) !important;
    }
    
    .body.show {
        transform: scale(.8) translate3d(-20rem, 0, -20rem);
        overflow: hidden;
    }

    header {
        position: fixed;
    }

    /* SECTION-1 STYLES */
    .section-1-space {
        display: flex;
        height: 100%;
        width: 100%;
    }

    .section-1 .text-content {
        padding: 10% 12% 16% 10%;
    }

    .section-1 .image-content img {
        position: relative;
        top: 30% !important;
        right: 38% !important;
        height: 230px;
        width: 230px;
    }

    /* SECTION-5 STYLES */
    /* .section-5 h2 {
        font-size: 3rem;
    } */

    .section-5 .row {
        width: 80% !important;
        min-width: 500px;
    }

    .section-5 .col .row {
        margin: auto !important;
    } 

     /*  ======================================
   portfolio PAGE STYLES 
   ==================================== */
   .portfolio .row .col.l5 {
        
   }
   

    /*  ======================================
   resume PAGE STYLES 
   ==================================== */
    .resume-section-1-space {
        margin: 70px 150px;
    }

    .resume-section-1-space .flex-row-900 {
        display: flex;
    }

    .resume-section-1-space .flex-row-800 {
        margin-right: 100px;
    }

    /* FOOTER  STYLES*/
    .footer .row-1,
    .footer .row-2 {
        flex-direction: row !important;
    }

}

@media (min-width:992px) {

    h1 {
        font-size: 3.8rem;
    }
    
    h2 {
        font-size: 3rem;
    }
    
    /* h3 {
        font-size: 1.8rem;
    }
    
    h4 {
        font-size: 1.6rem;
    }
    
    h5 {
        font-size: 1.4rem;
    }
    
    h6 {
        font-size: 1.2rem;
    } */

    /* SECTION-1 STYLES */
    #section-1 {
        height: 80vh;
    }

    .section-1-space {
        display: flex;
        height: 100%;
        width: 100%;
    }

    .section-1 .text-content {
        width: 66%;   
        height: 100%;
    }

    .section-1 .image-content {
        width: 34%;
        height: 100%;
    }

    .section-1 .image-content img {
        position: relative;
        top: 30% !important;
        right: 38% !important;
        height: 280px;
        width: 280px;
    }

    /* SECTION-2 STYLES */
    .box {
        width: 200px;
    height: 200px;
    }

    .box span {
        transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
    }
    
    .section-2 h2 {
        margin-bottom: 4.5rem;
    }

    /* SECTION-4 STYLES */
    #section-4 {
        padding: 8% 4%;
    }

    .section-4 h2 {
        margin: 0 0 20px;
    }

    .section-4 p {
        margin: 0;
    }

    /* SECTION-6 STYLES */
    #section-6 {
        min-height: 80vh;
        padding: 80px 70px;
    }

    .section-6 .section-6-left,
    .section-6 .section-6-right {
        padding: 5.8rem 5rem;
        margin-top: 0;
    }

     /*  ======================================
   resume PAGE STYLES 
   ==================================== */
    .portfolio-section-1 .l7 {
        margin-top: 0 !important;
        padding-left: 3rem;
    }

    
 /*  ======================================
   resume PAGE STYLES 
   ==================================== */

    .resume-section-1-space .flex-row-900 {
        display: block;
    }

    .resume-section-1-space .flex-row-800 {
        margin-right: 0;
    }

    .resume-section-1-space {
        display: flex;
        justify-content: space-between;
    }

    .resume-section-1-space h1 {
        margin: 0 !important;
    }

    .resume-section-1-space h3 {
        font-size: 14px !important;
    }

    .resume-section-1-space h4 {
        font-size: 22px !important;
    }

    .resume-section-1-space h5 {
        font-size: 18px !important;
        margin: 2.5rem 0 0;
    }

    .resume-outline-left {
        margin-right: 100px !important;
    }

    .resume-outline-right .intro {
        display: flex !important;
        justify-content: space-between !important;
        align-items: center;
        margin-bottom: 0;
    }

    .resume-outline-right  p {
        max-width: 60% !important;
        margin-top: 0;
        margin-bottom: 0;
    }

/*  ======================================
   resume PAGE STYLES 
   ==================================== */
    .earn-section-1 img {
        width: 100% !important;
        height: 100%;
    }

}

    /* -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d; */

    /* -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d; 