<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="css/font-awesome.min.css"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <!-- materialize Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>template for portfolio</title>
</head>

<body>
    <!-- main stationary menu -->
    <div id="menu" class="menu over-all-body">
        <nav id="nav" class="">
            <!-- <div class="menu-text">
                <p>Wow Look At This!<br>
                    This is an optional, highly<br>
                    customizable off canvas area.</p>
            </div> -->
            <ul class="menu-nav">
                <li class="nav-terms current">
                    <a href="/" class="">
                        Home
                    </a>
                </li><br>
                <li class="nav-terms">
                    <a href="/portfolio" class="">
                        portfolio
                    </a>
                </li><br>
                <li class="nav-terms">
                    <a href="/resume" class="">
                        resume
                    </a>
                </li>
                <div class="cash">
                    <a class="waves-effect waves-light btn"><i class="material-icons left fas fa-money-bill"></i>Earn
                        Cash</a>
                </div>
            </ul>
            <div class="contact">
                T: +23433903922 <br>
                augustinegodspower40@gmail.com
            </div>
        </nav>
    </div>

    <!-- main content body -->
    <div id="body" class="body">
        <!-- header hamburger menu and logo -->
        <header id="header">
            <img src="img/DA-MANAGER.png" alt="my logo" class="logo" width="170">

            <div class="menu-btn">
                <div class="btn-line"></div>
                <div class="btn-line"></div>
                <div class="btn-line"></div>
            </div>
        </header>

        <section id="earn-section-1" class="earn-section-1">
            <div class="container">
                <div class="row">
                    <div class="col l5 m6 s12">
                        <img src="img/earn.png" alt="">
                    </div>
                    <div class="col l7 m6 s12">
                        <div class="">
                            <h1>Join the Affiliate Team</h1>
                            <hr>
                            <h3>Refer potential clients and earn 20% for each successful product.</h3>
                            <h4>What's in it for you?</h4>
                            <p>information Is power!
                                Imagine having to bring a client who wants a product. as for any amount he pays, you gets 20% as commission without much work. That's a pretty good
                                deal. <span class="green-color"> contact me via this whatsapp link</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <button class="my-btn">
        <a href="">
            <img src="img/whatsapp-symbol.svg" alt="">
        </a>
    </button>


    <!-- materialize Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>