<!-- section 1 top page-->
<section id="section-1" class="section-1">
    <div class="section-1-space">
        <div class="text-content">
            <div class="text-content-space">
                <h1>
                    <span class="txt-type" data-wait="3000"
                        data-words='["Full-Stack", "UI/UX", "Designer", "Creator"]'></span>
                </h1>
                <p>I like to craft solid and scalable frontend products with great user experiences.</p>
                <!-- <div class="row">
                    <div class="col l6 m12 s12" style="padding-left: 0;">
                        <p>be it react app, node app or a simple wordpress website</p>
                    </div>
                    <div class="col l6 m12 s12">
                        <p>interested in owning an app on apple's app store or on android ?</p>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="image-content">
            <img src="img/IMG_20200409_104301_587.jpg" alt="">
        </div>
    </div>
</section>

<!-- section 2 rotating languages-->
<section id="section-2" class="section-2">
    <h2 class="center-align">languages i speak</h2>
    <div class="section-2-space">
        <div class="row">
            <div class="col l12">
                <div class="box">
                    <span style="--i:1;">
                        <div class="languages img-1">
                            <img src="img/mongodb.svg" class="svg" alt="">
                            <div class="lan-name">
                                <p>mongo db</p>
                            </div>
                        </div>
                    </span>
                    <span style="--i:2;">
                        <div class="languages img-2">
                            <img src="img/nodejs-1.svg" class="svg" alt="">
                            <div class="lan-name">
                                <p>node js</p>
                            </div>
                        </div>
                    </span>
                    <span style="--i:3;">
                        <div class="languages img-3">
                            <img src="img//jquery.svg" class="svg" alt="">
                            <div class="lan-name">
                                <p>jQuery</p>
                            </div>
                        </div>
                    </span>
                    <span style="--i:4;">
                        <div class="languages img-4">
                            <img src="img/logo-javascript.svg" class="svg" alt="">
                            <div class="lan-name">
                                <p>javascript</p>
                            </div>
                        </div>
                    </span>
                    <span style="--i:5;">
                        <div class="languages img-5">
                            <img src="img/express-109.svg" class="svg" alt="">
                            <div class="lan-name">
                                <p>express js</p>
                            </div>
                        </div>
                    </span>
                    <span style="--i:6;">
                        <div class="languages img-6">
                            <img src="img/flutter-logo.svg" class="svg" alt="">
                            <div class="lan-name">
                                <p>flutter</p>
                            </div>
                        </div>
                    </span>
                    <span style="--i:7;">
                        <div class="languages img-7">
                            <img src="img/css3.svg" class="svg" alt="">
                            <div class="lan-name">
                                <p>css3</p>
                            </div>
                        </div>
                    </span>
                    <span style="--i:8;">
                        <div class="languages img-8">
                            <img src="img/react-2.svg" class="svg" alt="">
                            <div class="lan-name">
                                <p>react js</p>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
 
<!-- section 3 -->
<div id="section-3" class="section-3">
    <div class="section-3-space">
        <div class="web-app">
            <div class="row">
                <div class="col l7 m12">
                    <h3>web-app development</h3>
                    <div class="text">
                        <p>a website is also an app, <i><b>"a web app"</b></i>. </p>
                        <p>i build web based apps that can be
                            installed on devices lke regular applications</p>
                        <p>i love to build scalable react and node web app with unique user interfaces</p>
                        <p>buildng renewable contents with just react without any backend.</p>
                    </div>
                    <br>
                    <a href="/portfolio" class="button-3">see projects</a>
                </div>
                <div class="col l5 m12">
                    <div class="image center-align">
                        <img src="/img/phone.svg" alt="">
                    </div>
                </div>
            </div>
        </div>

        <hr class="center-align">

        <div class="mobile-app">
            <div class="row">
                <div class="col l7 m12">
                    <h3>mobile-app development</h3>
                    <div class="text">
                        <p>building light weight flutter and dart apps is fun, no java. just a light simple and scalable
                            app with
                            great functionality. so unique and straightforward</p>
                        <p>series of products on various app stores are built with flutter and dart, and the number
                            keeps growing</p>
                    </div>
                    <br>
                    <a href="/portfolio" class="button-3">see projects</a>
                </div>
                <div class="col l5 m12">
                    <div class="image center-align">
                        <img src="/img/app.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- section 4 -->
<div id="section-4" class="section-4">
    <div class="row">
        <div class="section-4-text col l5 m12 s12">
            <div class="section-4-text-inner">
                <h2>over the past 3 years,</h2>
                <p>I've built lots of front and backend products for companies and businesses around the globe using
                    react
                    framework, lots of javascript and css-in-js
                </p>
                <p>Currently, I work at Da-manager as a Senior UI/UX Developer, creating cool react apps and a lot of
                    wordpress template to edit.</p>
                <p> Before now, I was Principal Frontend Engineer at C-TOP, where I worked on a vast network of systems
                    creating user friendly products for clients around the globe.</p>
            </div>
        </div>
        <div class="section-4-svg col l7 m12 s12 center-align">
            <img src="/img/companies.svg" alt="">
        </div>
    </div>
</div>

<!-- section 5 -->
<section id="section-5" class="section-5">
    <h2 class="center-align">send me a message!</h2>
    <p class="center-align">Got a question or proposal, or just want
        to say hello? Go ahead.</p>

    <div class="row">
        <form autocomplete="off" action="/developer/messages/clients" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col m6 s12">
                    <input id="clientName" type="text" name="clientName" style="text-transform: capitalize;">
                    <label for="name">Name</label>
                </div>
                <div class="input-field col m6 s12">
                    <input id="clientEmail" type="email" name="clientEmail">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row top-margin">
                <div class="input-field col m12 s12 ">
                    <textarea id="message" class="materialize-textarea" name="message"
                        placeholder="Hi, i think i need a design system for our products at company X. how soon can you hop on to discuss this"></textarea>
                    <label for="textarea2">Textarea</label>
                </div>
            </div>
            <div class="center-align">
                <button type="submit" value="save" class="button-5">shoot</button>
                <!-- <a onclick="M.toast({html: 'message sent'})" class="btn">shoot</a> -->
            </div>
        </form>
    </div>
</section>

<section id="section-6" class="section-6">
    <div class="row">
        <div class="col l6 m6 s12 section-6-left">
            <h3>i build & <br> design stuff</h3>
            <p>Open source
                projects, <br> web apps, react <br>
                and mobile apps.</p>
            <a href="/portfolio"><button class="button-6">check out my work</button></a>
        </div>
        <div class="col l6 m6 s12 section-6-right">
            <h3>i blog,<br> sometimes</h3>
            <p>About design, <br>
                frontend dev, <br>
                learning and life.</p>
            <a href=""><button class="button-6">check out my blog</button></a>
        </div>
    </div>
</section>

<!-- section 6 -->
<section id="section-7" class="section-7">
    <div class="center-flex">
        <img src="img/google-developers.svg" alt="">
        <img src="img/treehouse-2.svg" alt="">
        <img src="img/DA-MANAGER.png" alt="">
    </div>
</section>