<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="css/font-awesome.min.css"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <!-- materialize Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>template for portfolio</title>
</head>

<body>
    <!-- main stationary menu -->
    <div id="menu" class="menu over-all-body">
        <nav id="nav" class="">
            <!-- <div class="menu-text">
                <p>Wow Look At This!<br>
                    This is an optional, highly<br>
                    customizable off canvas area.</p>
            </div> -->
            <ul class="menu-nav">
                <li class="nav-terms current">
                    <a href="/" class="">
                        Home
                    </a>
                </li><br>
                <li class="nav-terms">
                    <a href="/portfolio" class="">
                        portfolio
                    </a>
                </li><br>
                <li class="nav-terms">
                    <a href="/resume" class="">
                        resume
                    </a>
                </li>
                <div class="cash">
                    <a class="waves-effect waves-light btn"><i class="material-icons left fas fa-money-bill"></i>Earn
                        Cash</a>
                </div>
            </ul>
            <div class="contact">
                T: +23433903922 <br>
                augustinegodspower40@gmail.com
            </div>
        </nav>
    </div>

    <!-- main content -->
    <!-- <main id="main" class="main"> -->
    <div id="body" class="body">
        <!-- header hamburger menu and logo -->
        <header id="header">
            <img src="img/DA-MANAGER.png" alt="my logo" class="logo" width="170">

            <div class="menu-btn">
                <div class="btn-line"></div>
                <div class="btn-line"></div>
                <div class="btn-line"></div>
            </div>
        </header>

        <section id="portfolio-section-1" class="portfolio-section-1">
            <div class="container">
                <h1 class="center-align">/ portfolio</h1>
                <p class="center-align">Selected projects I've worked on in the past.</p>
                <div class="portfolio">
                    <div class="ruby-travels row">
                        <div class="col l5 m6">
                            <img src="img/rubbytravels.png" alt="">
                            <span><input type="button" value="visit site"></span>
                        </div>
                        <div class="col l7 m6">
                            <p>Rubby Travels is a site dedicated to bringing you closer to your dream vacation, from
                                picking
                                a
                                destination to booking the flight. All brought to you in one site.</p>
                            <p> Rubby travels was built by <a href="https://da-manager.com">Da-Manager ltd</a> and I. I
                                was
                                assigned to work on the frontend of the
                                site.</p>
                        </div>
                    </div>
                    <hr>
                    <div class="just-in-travels row">
                        <div class="col l5 m6">
                            <img src="img/justintime.png" alt="">
                            <span><input type="button" value="visit site"></span>
                        </div>
                        <div class="col l7 m6">
                            <p>JustInTime Travels is a beautiful site filled with tons of vacation trips. See all the
                                beautiful places and book a flight there easily.</p>
                            <p> JustInTime is developed by <a href="https://da-manager.com">Da-Manager</a> and I was
                                assigned the develope the frontend of the site.</p>
                        </div>
                    </div>
                    <hr>
                    <div class="ruby-travels row">
                        <div class="col l5 m6">
                            <img src="img/medcom.png" alt="">
                            <span><input type="button" value="visit site"></span>
                        </div>
                        <div class="col l7 m6">
                            <p>Like all great websites, Medcom provides training on health care and other health-related
                                topics. Their courses have been approved by CPD.</p>
                            <p>Medcom is a product of <a href="https://da-manager.com">Da-Manager</a> and I was incharge
                                of the frontend and other major designs.</p>
                        </div>
                    </div>
                    <hr>
                    <div class="ruby-travels row">
                        <div class="col l5 m6">
                            <img src="img/bank.png" alt="">
                            <span><input type="button" value="visit site"></span>
                        </div>
                        <div class="col l7 m6">
                            <p>Like all great websites, Medcom provides training on health care and other health-related
                                topics. Their courses have been approved by CPD.</p>
                            <p>Medcom is a product of <a href="https://da-manager.com">Da-Manager</a> and I was incharge
                                of the frontend and other major designs.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <!-- materialize Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>