

    <section id="portfolio-section-1" class="portfolio-section-1">
        <div class="container">
            <h1 class="center-align">/ portfolio</h1>
            <p class="center-align">Selected projects I've worked on in the past.</p>
            <div class="portfolio">
                <div class="ruby-travels row">
                    <div class="image-1 col l5 m12 center-align text-center">
                        <div class="dark-overlay">
                            <span><input type="button" value="visit site"></span>
                        </div>
                    </div>
                    <div class="col l7 m12">
                        <p>Rubby Travels is a site dedicated to bringing you closer to your dream vacation, from
                            picking
                            a
                            destination to booking the flight. All brought to you in one site.</p>
                        <p> Rubby travels was built by <a href="https://da-manager.com">Da-Manager ltd</a> and I. I
                            was
                            assigned to work on the frontend of the
                            site.</p>
                    </div>
                </div>
                <hr>
                <div class="just-in-time row">
                    <div class="image-2 col l5 m12 center-align">
                        <div class="dark-overlay">
                            <span><input type="button" value="visit site"></span>
                        </div>
                    </div>
                    <div class="col l7 m12">
                        <p>JustInTime Travels is a beautiful site filled with tons of vacation trips. See all the
                            beautiful places and book a flight there easily.</p>
                        <p> JustInTime is developed by <a href="https://da-manager.com">Da-Manager</a> and I was
                            assigned the develope the frontend of the site.</p>
                    </div>
                </div>
                <hr>
                <div class="medcom row">
                    <div class="image-3 col l5 m12 center-align">
                        <div class="dark-overlay">
                            <span><input type="button" value="visit site"></span>
                        </div>
                    </div>
                    <div class="col l7 m12">
                        <p>Like all great websites, Medcom provides training on health care and other health-related
                            topics. Their courses have been approved by CPD.</p>
                        <p>Medcom is a product of <a href="https://da-manager.com">Da-Manager</a> and I was incharge
                            of the frontend and other major designs.</p>
                    </div>
                </div>
                <hr>
                <div class="regal row">
                    <div class="image-4 col l5 m12 center-align">
                        <div class="dark-overlay">
                            <span><input type="button" value="visit site"></span>
                        </div>
                    </div>
                    <div class="col l7 m12">
                        <p>Like all great websites, Medcom provides training on health care and other health-related
                            topics. Their courses have been approved by CPD.</p>
                        <p>Medcom is a product of <a href="https://da-manager.com">Da-Manager</a> and I was incharge
                            of the frontend and other major designs.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('../partials/_footer.ejs') %>

