<section id="resume-section-1" class="resume-section-1">
    <div class="resume-section-1-space">
        <div class="download">
            <a href="https://www.linkedin.com/in/augustine-godspower-523a2b1a4/" target="_blank"><img
                    src="img/linkedin-icon-2.svg" alt="linked-in"></a>
            <a class="mail" href="mailto:augustinegodspower40@gmail.com" target="_blank"><img src="img/official-gmail-icon-2020-.svg"
                    alt="mail to contact"></a>
            <a class="download-l-m" href="/media/resume.pdf" target="_blank"><i class="fas fa-download"></i> download</a>
        </div>
        <div class="resume-outline-left">
            <section>
                <div>
                    <a href="">Augustine.dev</a>
                </div>
                <div>
                    <span>Warri, Nigeria</span>
                </div>
                <div>
                    <a href="">hello@augustine.dev</a>
                </div>
            </section>
            <section>
                <h5>Technical skills</h5>
                <div class="flex-row-900">
                    <div class="flex-row-800">
                        <h6>core technologies:</h6>
                        <ul>
                            <li>javascript</li>
                            <li> React js</li>
                            <li> HTML</li>
                            <li>css-in-js</li>
                            <li>sass</li>
                            <li>vue js</li>
                            <li>Less css</li>
                            <li>nods js</li>
                            <li>php</li>
                            <li>express</li>
                            <li>flutter</li>
                        </ul>
                    </div>
                    <!-- <div class="flex-row-800">
                        <h6>front end:</h6>
                        <ul>
                            <li>javascript</li>
                            <li> React js</li>
                            <li> HTML</li>
                            <li>css-in-js</li>
                            <li>sass</li>
                            <li>vue js</li>
                            <li>Less css</li>
                        </ul>
                    </div>
                    <div class="flex-row-800">
                        <h6>back end:</h6>
                        <ul>
                            <li>nods js</li>
                            <li>php</li>
                            <li>express</li>
                        </ul>
                    </div> -->
                </div>
                <div class="flex-row-900">
                    <div class="flex-row-800">
                        <h6>Version Control:</h6>
                        <ul>
                            <li>Git</li>
                            <li>Github</li>
                            <li>Bitbucket</li>
                        </ul>
                    </div>
                    <div class="flex-row-800">
                        <h6>Design:</h6>
                        <ul>
                            <li> Adobe InDesign</li>
                            <li>Photoshop</li>
                            <li>Illustrator</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <h5>others</h5>
                <ul>
                    <li>SE Optimization</li>
                    <li>routing</li>
                    <li>Performance Optimization</li>
                    <li>Responsive Web Design</li>
                    <li>UX Design/Strategy</li>
                    <li>web architecture</li>
                    <li>Themes development</li>
                    <li>pluins</li>
                    <li></li>
                    <li></li>
                </ul>
            </section>
        </div>
        <article class="resume-outline-right">
            <section id="profile">
                <h1 id="name">
                    HAN <br> XOLO
                </h1>
                <h4>Expert full-stack developer and ui/UX Engineer.</h4>
                <p>Engineer valued for driving high-performance accessible web experiences. I design quality,
                    user-friendly and scalable products regardless of stack.</p>
            </section>
            <hr>
            <section id="experiences">
                <h4 id="experience">experience</h4>
                <p>I’ve worked on a handful of web projects over the past 3 years, some of which were for the
                    following organizations:</p>

                <ul id="companies">
                    <li class="company">
                        <div class="intro">
                            <h4><span>da-manager -</span> frontend Engineer</h4>
                            <span class="period">August 2020 - present</span>
                        </div>
                        <div class="intro-body">
                            <p>Mern-stack on the go..., Shaping the future of product designs, functionality and entrepreneurship – building and
                                advocating for
                                inclusive and thoughtful experiences for over a million merchants across the globe.
                            </p>
                            <!-- <p>- creating ui/ux designs with front-end frameworks like react</p>
                            <p>- work on the frontend of custom sites.</p>
                            <p>- creating wordpress websites</p>
                            <p>- developing wordpress plugins</p> -->
                        </div>
                    </li>
                    <li class="company">
                        <div class="intro">
                            <h4><span>c-Top -</span> backend Engineer</h4>
                            <span class="period">january 2019 - march 2020</span>
                        </div>
                        <div class="intro-body">
                            <p>At this web-application company, My responsibilities were</p>
                            <p>- creating ui/ux designs with front-end frameworks like react and vue</p>
                            <p>- work on the frontend of custom sites.</p>
                            <p>- develop web application with mySQL database</p>
                            <p>- editing of php scripts</p>
                            <p>- developing wordpress plugins</p>
                        </div>
                    </li>
                    <li class="company">
                        <div class="intro">
                            <h4><span>Google Developers, Nigeria</span></h4>
                            <span class="period">january 2018 - present</span>
                        </div>
                        <div class="intro-body">
                            <p>As an ambassador to Google in my school <a href="https://fupre.edu.ng">FUPRE,
                                    Nigeria.</a> am part of a team of programmers who teach and instruct
                                students in learning basic programming concepts. My responsibilities include</p>
                            <p>- organizing code challenges for students</p>
                            <p>- teaching basic programming concepts.</p>
                            <p>- organizing seminars and webinars respectively</p>
                            <p>- recruiting new ambassadors</p>
                        </div>
                    </li>
                </ul>
            </section>
        </article>
    </div>
</section>